#!/usr/bin/make -f

BUILD = $(CURDIR)/debian/eastwind

build:
	touch build

clean:
	rm -f build

install: build
	dh_testdir
	dh_testroot
	dh_installdirs
	dh_installdocs
	
	cp ew $(BUILD)/usr/lib/eastwind/
	cp *.py $(BUILD)/usr/lib/eastwind/
	cp -R *manager $(BUILD)/usr/lib/eastwind/

binary-indep: install

binary-arch: install
	dh_installdocs
	dh_installchangelogs
	dh_installdeb
	dh_compress
	dh_gencontrol
	dh_builddeb

binary: binary-indep binary-arch

